
body{
  font-family: Verdana, sans-serif;
}


.titulo{
    font-size: 16px;
    color:lightslategray;
    margin-top: 50px;
    font-weight: normal;
}

.container{
  width: 60%;
  height: auto;
  margin: 0 auto;
}

/*-- TABELA --*/

.cabecario-tabela{
  background-color: antiquewhite;
}

.cabecario-tabela > th{
  font-size: 14px;
  text-align: left;
  padding-left: 20px;
  font-weight: normal;
}


.info-titulo{
  font-size: 14px;
}

table{
  width: 100%;
  margin-top: 50px;
}

.info-produto{
  display: flex;
  align-items: center;
}
.info-produto > img{
  width: 100px;
}

#destaque-estoque{
  background: greenyellow;
  border-radius: 10px;
}



/*-- FORUMULARIO --*/
.info-formulario{
  margin-top: 80px;
}
.grupo label{
  font-size: 14px;
}

.campo{
  width: 40%;
}